@import url('https://fonts.googleapis.com/css2? family= Manrope:wght@200;300 & display=swap');

html,body{
    font-family: 'Arimo', sans-serif;
}

:root{
    --color-main: #f7941d;
    --color-white: #fff;
    --color-normal: #182642;
    --color-header: #ffffff;
    --color-content: #999999;
    --color-stripes: #e8e8e8;
    --color-pagination: #5d677a;
    --color-footer: #181818;
    --color-red: #ff0000;
}

a
{
    text-decoration: none;
}

header
{
    background: var(--color-header);
    box-shadow: 0 2px 1px rgb(57 63 72 / 10%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
main
{
    margin-top: 65px;
}
/* ------------------------------------------------------------- Header -------------------------------------------------------------*/

.logo
{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.solution
{
    font-size: 13px;
    font-weight: 600;
}

.pagination>li>a,.notify
{
    color: var(--color-pagination);
    transition: all 0.25s ease-out;
    cursor: grab;
}
.pagination>li>a:hover,.notify:hover
{
    color: var(--color-main);
}

.pagination_employer
{
    background-color: var(--color-main);
    padding: 5px 10px;
}
.pagination_employer--content
{
    color: var(--color-stripes);
}
.pagination_employer--content>.h5
{
    font-weight: 600;
    font-size: 17px;
}
.pagination_employer--content>.h6
{
    font-size: 15px;
}
.pagination_employer>i
{
    font-size: 18px;
    color: var(--color-white);
    padding-right: 10px;
}
.notify
{
    padding-right: 10px;
}
.stripes
{
    color: var(--color-stripes);
}

.btn-slider__banner
{
    border-radius: 50%;
    height: 15px !important;
    width: 15px !important;
    background-color: #fff !important;
    border: unset !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.nav-link.active
{
    color: var(--color-main);
}
/* ------------------------------------------------------------- Footer -------------------------------------------------------------*/
.footer__nav--logo
{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.foot--image
{
    z-index: -1;
    right: 0;
    top: -62px;
}
.footer
{
    background: var(--color-footer);
    margin-top: 50px;
    height: 400px;
}
.footer__nav
{
    color: var(--color-white);
}
.footer__nav>ul
{
    padding: 0 50px;
}
.footer__nav>ul>li>a
{
    color: var(--color-white);
}
.footer__nav>ul>li>a:hover
{
    color: var(--color-main);
}

.footer__nav>ul>li
{
    margin: 10px 0;
    cursor: default;
}
.footer__nav>ul>li>.h4
{
    font-weight: bold;
    color: var(--color-main);
}
.footer__contact>i
{
    font-size: 25px;
    padding-right: 10px;
    cursor: grab;
    transition: all 0.25s linear;
}
.footer__contact>i:hover
{
    color: var(--color-main);

    opacity: 80%;
}
.icon-interested
{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    cursor: grab;
    transition: all 0.25s linear;
    color: var(--color-content);

}
.icon-interested:hover
{
    color: var(--color-main);
}

.icon-interested--save
{
    color: var(--color-main);
}
.container-input--form
{
    position: relative;
}

.form-label,.container-input--form-icon
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 13px;
    font-size: 15px !important;
    color: #999;
    transition: all 0.25s linear;
}
.container-input--form-icon
{
    right: 10px;
}
.input-form:focus
{
    border-color: var(--color-main) !important;
    box-shadow: none;
}

.input-form:not(:placeholder-shown)+.form-label,
.input-form:focus+.form-label {
    top: 0;
    color: var(--color-main);
    background: var(--color-header);
}
